<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-warning">
			<div class="panel panel-heading">
				Register
			</div>
			<div class="panel-body">
				 <div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" ng-model="register.registration.emailAddress" class="form-control">
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" ng-model="register.registration.password" class="form-control">
				</div>
				<div class="form-group">
					<label for="Confirm Password">Confirm Password</label>
					<input type="password" ng-model="register.registration.confirmPassword" class="form-control">
				</div>
			</div>
			<div class="panel panel-footer">
				<button class="btn btn-warning" ng-click="register.register()">Register</button>
			</div>
		</div>
	</div>
</div>